/*
*
* Header
*
*/

.title {
	text-align: center;
}



/*
*
* Main
*
*/



/*
*
* Dashboard
*
*/

.dashboard {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.timer {
	margin: 0 20px;
}

.move-counter {
	margin: 0 20px;
}

.star-rating {
	margin: 0 20px;
	color: #f4df42;
}

.restart {
	margin: 0 20px;
	cursor: pointer;
}



/*
*
* Game board
*
*/

.game-board {
	width: 800px;
	display: flex;
	flex-wrap: wrap;
	margin: 0 auto;
	justify-content: center;
}

/*
*
* Card
*
*/

.card {
	width: 120px;
	height: 120px;
	margin: 20px;
	border: solid 1px #000;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 0;
	cursor: pointer;
}

.card.open {
	transform: rotateY(0deg);
	font-size: 2rem;
	cursor: default;
}

.card.disable {
	pointer-events: none;
}

.card.matched {
	background-color: red;
}


/*
*
* Footer
*
*/

footer {
	text-align: center;
}