body {
	font-family: 'Roboto', sans-serif;
}


/*
*
* Header
*
*/

.title {
	text-align: center;
	font-family: 'Lora', serif;
	margin-top: 50px;
}



/*
*
* Main
*
*/



/*
*
* Dashboard
*
*/

.dashboard {
	width: 60%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
	margin: 0 auto;
}

.star-rating {
	color: #f4df42;
}

.restart {
	cursor: pointer;
	background-color: #253031;
	color: #fff;
	padding: 0 20px;
	border-radius: 4px;
}



/*
*
* Game board
*
*/

.game-board {
	width: 90%;
	display: flex;
	flex-wrap: wrap;
	margin: 20px auto;
	padding: 30px 0;
	justify-content: center;
	background: rgb(124,212,134);
	background: linear-gradient(315deg, rgba(124,212,134,1) 0%, rgba(54,196,195,1) 52%, rgba(0,166,255,1) 100%);
	border-radius: 10px;
}

/*
*
* Card
*
*/

.card {
	width: 50px;
	height: 50px;
	margin: 5px;
	border-radius: 4px;
	-webkit-box-shadow: 5px 5px 10px 0px rgba(79,79,79,1);
	-moz-box-shadow: 5px 5px 10px 0px rgba(79,79,79,1);
	box-shadow: 5px 5px 10px 0px rgba(79,79,79,1);
	background: #05668d;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 0;
	cursor: pointer;
}

.card.open {
	transform: rotateY(0deg);
	background-color: #028090;
	font-size: 1.2rem;
	color: #fff;
	cursor: default;
}

.card.disable {
	pointer-events: none;
}

.card.matched {
	background-color: #02c39a;
}

.card.wrong {
	background-color: #dd2c64;
}


/*
*
* Winning modal
*
*/

.winning-modal {
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -150px 0 0 -155px;
	background-color: #05668d;
	color: #fff;
	text-align: center;
	padding: 10px;
	border-radius: 4px;
	-webkit-box-shadow: 5px 5px 10px 0px rgba(79,79,79,1);
	-moz-box-shadow: 5px 5px 10px 0px rgba(79,79,79,1);
	box-shadow: 5px 5px 10px 0px rgba(79,79,79,1);
	display: none;
}

.winning-modal.show {
	display: inherit;
}

.play-again {
	cursor: pointer;
	background: rgb(124,212,134);
	background: linear-gradient(315deg, rgba(124,212,134,1) 0%, rgba(54,196,195,1) 52%, rgba(0,166,255,1) 100%);
	padding: 1%;
	border-radius: 4px;
}


/*
*
* Footer
*
*/

footer {
	text-align: center;
}